# basic python ignore
*.pyc
__pycache__/
.ipynb_checkpoints/

# python venv ignore
pyvenv.cfg
venv/

# ide ignore
.idea/
.vscode/

# nodejs ignore
node_modules/
npm-debug.log

# enviroment files
.env
*.env