# basic python ignore
*.pyc
__pycache__/
pyvenv.cfg

# python venv ignore
venv/

# ide ignore
.idea/
.vscode/
.DS_Store

# nodejs ignore
node_modules/
npm-debug.log

# env ignore
.env
*.env

# work folder
mywork/
get-api/
get-search/